html {
    height: 100%;
    width: 100%;
  }
  
  .button{
    color: white;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 10rem;
    cursor: pointer;
    width: 54px;
    background-color: rgb(39, 39, 193);
  }
  
  .row{
    background-color: rgba(105, 105, 235, 0.7);
    margin: 10px 0;
    width: 80vw
    display: flex;
    align-items: center;
    justify-content: space-around;
    
  }