* {
    margin: 0;
    padding: 0;
    color: black;
}

body {

    color: white;
    font-family: 'Poppins', sans-serif;
}

/* nav bar*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    
}

.navbar-img{
    height: 40px;
    width: 3\40px;
    margin-right:8px ;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: black;
    font-size: 1.05rem;
    opacity: 0.8;
}

.left {
    font-size: 1.5rem;
}

/*Main content*/
.fisrtSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 0;
}

.fisrtSection>div {
    width: 30%;

}

.left{
    color: white;
}

.leftSection {
    color: black;
    font-size: 3rem;
}

.leftSection .buttons {
    padding: 50px 0;

}

.leftSection .btn {
    padding: 12px;
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    color: white;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.leftSection .btn:hover{
    opacity: 0.7;
}

.rightSection {
    width: 80%;
    margin: 50px 0;

}

.rightSection img{
    width: 27rem;
    height: 25rem;
    
}

.btn-link{
    color: white;
    text-decoration: none;
}

.purple {
    background: #121FCF;
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#element {
    background: #121FCF;
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.secondSection {
    max-width: 80vw;
    margin: auto;
    height: 60vh;
}

main hr {
    border: 0;
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    height: 1.2px;
    margin: 60px 80px;
}

.secondSection h1 {
    font-size: 1.6rem;
}

.text-grey {
    background: #121FCF;
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.secondSection .box {
    width: 77vw;
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    height: 2px;
    margin: 50px 0;
    display: flex;
}

.secondSection .verticle {
    height: 93px;
    width: 1px;
    background:linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    margin: 0 120px;
}

.image-top {
    width: 30px;
    position: relative;
    top: -39px;
    left: -14px;
}

.secondSection h4{
    background: #121FCF;
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.verticle-title {
    position: relative;
    top: 75px;
    width: 150px;
}

.verticle-desc {
    position: relative;
    top: 86px;
    color: brown;
    font-size: 9px;
    width: 150px;
}

.thirdSection{
    max-width: 80vw;
    margin: auto;
    height: 50vh;
}

.projects_logo{
    height: 25px;
    width: 25px;
    margin-right: 3px;
}

footer {
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
    opacity: 0.9;
    color: white;
}

.footer {
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
    color: white;
}

.footer-second ul li{
    color: white;
}

.footer ul {
    list-style: none;
}

.footer>div {
    width: 250px;
}
.footer h2{
    color: white;
}
footer .footer-rights {
    text-align: center;
    color: rgb(215, 208, 208);
    opacity: 0.9;
    padding: 12px 0;
}

.cont-img {
    height: 17px;
    width: 17px;
    margin-right: 5px;
}